#  این فایل را به نام .env کپی کنید و مقادیر را تنظیم کنید
MONGO_URI=mongodb://localhost:27017/lms_db
# حتماً این مقدار را عوض کنید
JWT_SECRET=my_super_secret_key_change_this_in_production_min_32_chars
JWT_EXPIRES_IN=1d

PORT=4000

FRONTEND_URL=http://localhost:3000
